.me_header{

    width: 18%;
    height: 100%;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 0.5fr;
    grid-column-gap: 13px;
    grid-row-gap: 100px;
    position: fixed;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

}

.me_contan{


        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 2fr;
        grid-column-gap: 13px;
        grid-row-gap: 0px;


}

.me_links {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 50px);
        grid-column-gap: 13px;
        grid-row-gap: 0px;
}
.me_links a{
    text-decoration:none;
    color: black;
    margin: auto  ;
    width: 100%;
    padding: 10px 0 ;
   

}
svg{
    cursor: pointer;
}

.me_links a:hover{

    background-color: rgb(224, 240, 255);
}
.me_links_settings{
    display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr;
grid-column-gap: 13px;
grid-row-gap: 20px;
}

.me_links_settings a:hover{

    background-color: rgb(224, 240, 255);
}
.me_links_settings a{
    text-decoration:none;
    color: black;
    margin:  auto ;
    width: 100%;
    padding: 10px 0;
}
.me_link_span{

    margin: 0 0 100px 0 ;
}

.me-ico-head{
    position: relative;
    right: 10px;
    top: 2px;
}
